.footer {
	text-align: left;
	line-height: 2;
	width: 100vw;
	background-color: rgb(245, 245, 245);
	color: $color-dark-grayish-blue;
	padding: 3rem 0;

	display: grid;
	grid-template-columns: repeat(5, max-content);
	column-gap: 10rem;
	justify-content: center;

	@media only screen and (max-width: $medium) {
		grid-gap: 4.5rem;
		justify-content: space-around;
	}

	@media only screen and (max-width: $small) {
		text-align: center;
		font-size: 2.2rem;
		grid-template-columns: max-content;
		line-height: 2.75;
		grid-gap: 0;

		grid-template-rows: 12rem 1fr 1fr 10rem max-content;
	}

	&__logo {
		width: 4rem;
		align-self: center;
		justify-self: center;

		@media only screen and (max-width: $small) {
			width: 8rem;
			align-self: start;
		}
	}

	a:link,
	a:visited {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: $color-cyan;
	}
}

.media-nav {
	align-self: center;

	&__icon:not(:last-child) {
		margin-right: 2rem;

		@media only screen and (max-width: $small) {
			margin-right: 4.5rem;
		}
	}
}

.footer-secondary {
	text-align: center;
	margin: 2.5rem auto;

	p {
		font-size: 1.6rem;
	}

	a:link,
	a:visited {
		text-decoration: none;
		color: orangered;
	}
}
